* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.purple {
    color: #6030b1;
}

.btn {
    cursor: pointer;
    transition: all 300ms ease;
    background-color: #6030b1;
    color: white;
    border: none;
}

#html {
    width: 100%;
}


/* NAV */

nav {
   
   align-items: center;
}

.navbar {
    width: 100%;
    max-width: 1200px;
    height: 100px;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav__logo {
    height: 40px;
    width: 150px;
}

.nav__links {
    width: 100%;
    max-width: 430px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link {
    font-size: 18px;
    position: relative;
    font-weight: 700;
   transition: all 300ms ease;
  
}

.nav__link--anchor {
    text-decoration: none;
}

.nav__link--anchor::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    background-color: #6030b1;
    bottom: -3px;
    right: 0;
    transition: all 300ms ease;
}

.nav__link--anchor:hover::after{
    width: 100%;
    left: 0;

}

.nav__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    height: 48px;
    width: 150px;
    border: none;
    border-radius: 50px;
}

.nav__btn:hover {
    background-color: #448aff;
    transform: scale(1.03);


}



/* HEADER */

#header {
    width: 100%;
    max-width: 1200px;
    padding: 10px 20px 0;

}

.row {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__title {
    max-width: 730px;
    line-height: 1.25;
    text-align: center;
    margin-bottom: 30px;
}

.header__subtitle {
    line-height: 1.5;
    text-align: center;
    margin-bottom: 40px;
}



.search__wrapper {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    height: 48px;
    line-height: 40px;
    font-size: 24px;
    display: inline-block;
    background-color: #fff;
    color: #0a1f44;
    border-radius: 16px; 
    border: 1px solid #0a1f44;
    transform: all 300ms ease;
    border-radius: 50px;
    height: 60px;
    display: inline-block;
    padding-left: 20px;

}

input:hover {
    border: 2px solid #6030b1;
}

.search__btn {
    width: 120px;
    height: 48px;
    margin-left: 20px;
    font-size: 40;
    border-radius: 16px;
}

.search__btn:hover {
    background-color: #ff328f;
    transform: scale(1.03);
}


.fa-magnifying-glass {
    font-size: 24px;
}


/*

2nd PAGE BROWSER

*/

#browswer {
    width: 100%;
}

.browser__wrapper {
    max-width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.browser__title {
    padding-bottom: 40px;
    letter-spacing: .2em;
}

.browser__input {
    width: 100%;
    max-width: 600px;
    border-radius: 50px;
    
}

.overlay {
    background-image: url(../img/carpark.8742e246.jpeg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}


/*

RESULTS

*/

.results__wrapper {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 175px;
}

.results__title {
    display: inline-block;
    line-height: 1.25;
}