* {
    font-family: 'roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.purple {
    color: #6030b1;
}

.btn {
    cursor: pointer;
    transition: all 300ms ease;
    background-color: #6030b1;
    color: white;
    border: none;
}


/* NAV */

nav {
   
   align-items: center;
}

.navbar {
    width: 100%;
    max-width: 1200px;
    height: 100px;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav__logo {
    height: 40px;
    width: 150px;
}

.nav__links {
    width: 100%;
    max-width: 430px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link {
    font-size: 18px;
}

.nav__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    height: 48px;
    width: 150px;
    border: none;
    border-radius: 50px;
}

.nav__btn:hover {
    background-color: #448aff;
    transform: scale(1.03);


}

/* HEADER */

.header {
    padding: 10px 20px 0;
    
}

.row {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    padding: 0 40px;
}

.header__title {
    max-width: 730px;
    line-height: 1.25;
    text-align: center;
    margin-bottom: 30px;
}

.header__subtitle {
    line-height: 1.5;
    text-align: center;
    margin-bottom: 40px;
}

.search__wrapper {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    height: 48px;
    line-height: 40px;
    font-size: 24px;
    padding: 0 15px 0 25px;
    display: inline-block;
    background-color: #fff;
    color: #0a1f44;
    border-radius: 16px; 
    border: 1px solid #0a1f44;
    transform: all 300ms ease;
}

input:hover {
    border: 2px solid #6030b1;
}

.search__btn {
    width: 120px;
    height: 48px;
    margin-left: 20px;
    font-size: 40;
    border-radius: 16px;
}

.search__btn:hover {
    background-color: #ff328f;
    transform: scale(1.03);
}

.fa-magnifying-glass {
    font-size: 24px;
}